<p>You can look at live orders for a location and pick up the next one or take other actions--edit the order etc. </p>



<h2>Features</h2>
<ul>
  <li>only visible to associates and manangers and admin</li>
  <li>user sets location or the system uses a user-configurable default</li>
  <li>managers can select any location</li>
  <li>employees can see the locations they belong to</li>
  <li>show all incoming-new and pending, out-for-delivery orders as a "card" (small row component that shows brief specific information about an order, taller than a typical row on a table</li>

  <li>allow menu items to be flagged for "notification" so that warnings are showed in the card if the item is in that order</li>
  <li>order search? --show where the order is by having an app that drivers can use to report location "location ping" -- "your driver is a mile away"...cannot show location on a map" </li>
</ul>

<h1>Live Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Order Number</th>
      <th scope="col">Delivery</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>
