<p>user-profile works!</p>

<h2>User Profile Features</h2>
<ul>
  <li>
    links to change password, set location, name, address, phone, email, SMS config, payments
  </li>
  <li>get profile pic from social media or email provider (office 365)?</li>
  <li>payments: allow users to add and remove payment methods: credit cards, Apple, Android</li>
  <li>user data management and compliance</li>
  <li>(user opt-in only) for marketing across other restaurants in the system in the area or as they move about</li>

</ul>
